.search-container {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: solid;
  border-color: #30363c;
  padding-bottom: 35px;
}

.search {
  width: 80%;
  background-color: #30363c;
  color: #a59c9c;
  font-size: 24px;
  border: 0;
  border-radius: 6px;
  text-decoration: underline;
}
